__pycache__/
**/__pycache__/
.pytest_cache/
aws_lambda/
_subscription.py
_webhook.json
.env
emails.json
emails_structured_output.json
yougotmail.egg-info


*.pyc
*.egg-info/
dist/
build/
_DS_Store
_deploy.txt
.pylintrc

