__pycache__/
**/__pycache__/
.pytest_cache/
agent_1_personal_assistant/
agent_2_digital_co_worker/
.env
webhook_renewal/dependencies
webhook_renewal/deployment.zip
emails.json
emails_structured_output.json
yougotmail.egg-info

*.pyc
*.egg-info/
dist/
build/
_DS_Store
_deploy.txt
.pylintrc